<!-- Аудио элемент скрыт -->
<audio id="audio-player" autoplay>
  <source src="/assets/audio/{{ page.permalink }}.mp3" type="audio/mpeg">
    Ваш браузер не поддерживает воспроизведение аудио.
</audio>

<!-- Кастомный аудио-плеер -->
<div class="custom-audio-player">
  <!-- Кнопка воспроизведения -->
  <button id="play-pause-btn" class="paused"></button>


  <!-- Контейнер для времени -->
  <div class="time-display">
    <span id="current-time">0:00</span>
    <span style="color: white;"> / </span>
    <span id="duration">0:00</span>
  </div>

  <!-- Прогресс-бар, занимающий 90% ширины страницы -->
  <div class="progress-container">
    <div class="progress-bar" id="progress-bar"></div>
  </div>
</div>
