/* Основные стили для всех страниц */
body {
    margin: 0;
    padding: 0;
    background-color: #001f3f; /* темно-синий фон */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Стили для первой страницы */
.index-page {
    font-family: "Georgia", serif;
    font-size: 10vw; /* респонсивный размер текста */
    color: white;
}

/* Стили для всех остальных страниц */
.hour-page {
    font-family: "Verdana", sans-serif;
    font-size: 2vw; /* респонсивный размер текста */
    color: white;
}
