/* Основной стиль для body */
body {
    margin: 0;
    padding: 0;
    background-color: #001f3f; /* Темно-синий фон */
    color: white;
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное размещение элементов */
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    transition: filter 0.5s ease; /* Плавный переход */
}

/* Дополнительный стиль, который будет применен через JavaScript */
.night {
    filter: brightness(0.5); /* Уменьшенная яркость */
}
.dawn {
    filter: brightness(0.8); /* Немного приглушенная яркость */
}
.day {
    filter: brightness(1); /* Полная яркость */
}
.dusk {
    filter: brightness(0.7); /* Умеренная яркость */
}

/* Стили для заголовка */
header {
    margin-bottom: 20px; /* Отступ снизу для отделения от основного контента */
    font-family: "Georgia", serif;
    font-size: 2.5vw; /* Респонсивный размер заголовка */
    color: #ffffff;
}

/* Стили для основного контента */
main {
    font-size: 1.2vw; /* Респонсивный размер текста для основного контента */
    max-width: 90%; /* Ограничение ширины контента для улучшения читаемости */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон */
    border-radius: 8px; /* Закругленные углы */
}

/* Стили для абзацев */
p {
    font-family: "Verdana", sans-serif;
    font-size: 15px;
    line-height: 1.6; /* Межстрочный интервал для улучшения читаемости */
    margin: 10px 0; /* Отступ сверху и снизу */
}

/* Дополнительные стили для респонсивности */
@media (max-width: 768px) {
    .index-page {
        font-size: 15vw;
    }
    .hour-page {
        font-size: 4vw;
    }
    header {
        font-size: 4vw;
    }
    main {
        font-size: 3vw;
    }
    p {
        font-size: 30px;
    }
}
