<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
    <!-- Подключаем day-night.js через include -->
    {% include day-night.html %}
    {% include next-hour.html %}
    {% include play-audio-js.html %}
</head>
<body>
<main>
  <h1>{{ page.title }}</h1>
  {% include audio.html %}
  <p>{{ content }}<p>
</main>
</body>
</html>
